@use "../abstracts/" as *;

.search {
  @include flex-content(100%, 6em);
  gap: 0.2rem;
  overflow: hidden;

  form {
    position: relative;
    // border: 1px solid red;

    input {
      @include rounded-box($border: true);
      display: block;
      width: 16rem;
      padding: 10px;

      &:focus {
        outline: none;
      }

      &::placeholder {
        font-size: fs(xs);
      }
    }

    .error-notification {
      position: absolute;
      font-size: fs(xs);
      margin-top: 0.3rem;
      color: rgb(240, 69, 69);
    }
  }
}
