@use "../abstracts/" as *;

.guidelines-content {
  display: flex;
  ul {
    @include flex-content(100%, 15rem, column, start, start);
    gap: 1.5rem;
    font-size: fs(xs);

    & li {
      display: flex;
      justify-items: center;
      gap: 1rem;
    }

    & li::before {
      content: "👉";
    }
  }
}
