$colors: (
  neutral-white: (
    300: #f7f7f7,
    200: #dedede,
    100: #c5c5c5,
  ),
  neutral-black: (
    300: #181818,
    200: #313131,
    100: #4a4a4a,
  ),
  primary: (
    300: #1354d7,
    200: #2a65db,
    100: #4276df,
  ),
);
